.clicker-kehys {
    position: relative;
    width: 60%;
    margin: 20px auto;
    border: 2px solid black;
    height: 70vh;
    background-size: 100% 100%;
    background-position: center;
  
}

#cookie{
  
  
    width: 30%;
    cursor: pointer;
  
    


  
    
}
#cookie:hover{
    transform: scale(1.1);
    transition: transform 0.4s ease;
    
}
#cookie:active {
    transform: scale(0.9);
    transition: transform 0.2s ease;
}

.ominaisuudet{
   
    cursor: pointer;
    width: 100px;
}