.clicker-kehys {
  
    position: relative;
    width: 60%;
    margin: 20px auto;
    border: 4px solid rgba(109, 83, 0, 0.76);
    border-radius: 8px;
    height:auto;
    background-image: url(clicker-kuvat/clicker-kehystausta.png);
    background-size: 100% 100%;
    background-position: center;
    margin: 0 auto;
    padding: 0;
  
}



#cookie{
    position: relative;
    width: 20%;
    cursor: pointer;
    margin-top: 130px;
   
    

   
    
    

}


.animated1{
    animation: move 6s infinite;

}
.animated2{
    animation: move 4s infinite;

}
.animated3{
    animation: move 2s infinite;

}
.animated4{
    animation: move 1s infinite;

}


@keyframes move {
    0% {
        transform: translate(-100%);
    }
    50%{
        transform: translate(100%);
    }
    100% {
        transform: translate(-100%);
    }
}


#cookie:hover{
    transform: scale(1.1);
    transition: transform 0.4s ease;
    
}
#cookie:active {
    transform: scale(0.9);
    transition: transform 0.2s ease;
}

.pelivalikko{
    display: block;
    position: absolute;
    height: 8%;
    width: 100%;
    border-bottom:  3px solid rgba(86, 86, 85, 0.486);
    background-color: darkgoldenrod;
    color:white;
    
}

#naytaPromillet{
    position: absolute;
    left: 3%;
    
   
}

#naytaTuopit{
    position: absolute;
    left: 45%;
}

.naytaPisteet{
    position: absolute;
    right: 3%;
    color:white;
  

}

.ominaisuudet{
    position: relative;
    cursor: pointer;
    font-family: inherit;
    width: 100px;
    height: 50px;
    border: 3px solid rgb(153, 82, 0);
    border-radius: 20px;
    margin-top: 20px;
    background-color:darkgoldenrod;
    color: whitesmoke;
    font-weight: bold;
    bottom: -65px;
}

.ominaisuudet:hover{
    background-color:rgba(141, 102, 2, 0.87);

}

.kauppabutton{
    position: relative;
    cursor: pointer;
    font-family: inherit;
    width: 100px;
    height: 50px;
    border: 3px solid rgb(153, 82, 0);
    border-radius: 20px;
    margin-top: 20px;
    background-color:darkgoldenrod;
    color: whitesmoke;
    font-weight: bold;
}

.kauppabutton:hover{
    background-color:rgba(141, 102, 2, 0.87);

}


#ohjesivu{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(clicker-kuvat/peliohjetausta.png);
    background-size: 100% 100%;
    top: 0px;
    text-align: center;
   
}

#ohjeet{
    position: relative;
    font-family: inherit;
   
    font-weight: bold;
    font-size: large;
    top: 25%;
    margin-left: 30px;
    margin-right: 30px;
  
}

.naytaOhje{
    position: absolute;
    background-image: url(clicker-kuvat/infobutton.png);
    background-size: 100% 100%;
    width: 30px;
    height: 30px;
    top: 10%;
    right: 2%;
}

.piilotaOhje{
    position: absolute;
    background-image: url(clicker-kuvat/closebutton.png);
    background-size: 100% 100%;
    width: 40px;
    height: 40px;
    bottom: 10%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
   

}

#ohjesivu2{
    display: none;
    position: absolute;
    width: 100%;
    height: 92%;
    background-image: url(clicker-kuvat/kauppatausta.png);
    background-size: 100% 100%;
    bottom: 0px;
    text-align: center;
   
}

#ohjeet2{
    position: relative;
    font-family: inherit;
    font-weight: bold;
    font-size: medium;
    top: 25%;
    margin-left: 30px;
    margin-right: 30px;
  
}

.naytaOhje2{
    position: absolute;
    background-image: url(clicker-kuvat/shop-button.png);
    background-size: 100% 100%;
    width: 60px;
    height: 60px;
    bottom: 2%;
    left: 3%;
}

.piilotaOhje2{
    position: absolute;
    background-image: url(clicker-kuvat/closebutton.png);
    background-size: 100% 100%;
    width: 40px;
    height: 40px;
    bottom: 10%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
   

}







.tippuvat {
    position: absolute;
    animation: float 22s linear infinite;
    opacity: 0;
    bottom: 0;
  
  
}


  @keyframes float {
    0% {
        bottom: 0;
        opacity: 0.2;
        visibility: hidden;
     
      }
      50% {
        opacity: 0.2;
        visibility: visible;
      }
      100% {
        bottom: 80%;
        opacity: 0;
       
     
      }
    }

.tippuvat:nth-child(1) {
    width: 10%;
    height: auto;
    animation-delay: 0s;
 
}

.tippuvat:nth-child(2) {
    width: 5%;
    height: auto;
    animation-delay: 0s;
    right: 10%;
}

.tippuvat:nth-child(3) {
    width: 10%;
    height: auto;
    animation-delay: 6s;
    left: 10%;
}

.tippuvat:nth-child(4) {
    width: 15%;
    height: auto;
    animation: float 12s linear infinite;
    animation-delay: 9s;
    right: 60%;
}

.tippuvat:nth-child(5) {
    width: 10%;
    height: auto;
    animation-delay: 12s;
}

.tippuvat:nth-child(6) {
    width: 15%;
    height: auto;
    animation-delay: 15s;
    right: 10%;
}
@media only screen and (max-width: 2000px) {
    .clicker-kehys{
        width: 60%;
        height: 500px;
    }
    #cookie{
        width: 10%;
    }
    #logo{

        width:40%;
    }

}

@media only screen and (max-width: 1600px) {
    .clicker-kehys{
        width: 80%;
        height: 500px;
    }
    #cookie{
        width: 12%;
    }
    #logo{
        width:40%;
    }

}




@media only screen and (max-width: 1200px) {
    .clicker-kehys{
        width: 80%;
        height: 500px;
    }
    #cookie{
        height: 20%;
    }
    #logo{
        width:70%;
    }

}

@media only screen and (max-width: 800px) {
    .clicker-kehys{
        width: 90%;
        height: 500px;
    }

    #cookie{
        height: 20%;
    }
  
    #logo{
        width:100%;
    }

}

@media only screen and (max-width: 550px) {
    .clicker-kehys{
        width: 90%;
        height: 500px;
    }
    #cookie{
        width: 25%;
    }
    #logo{
        width: 100%;
    }

}




