

body{
    background-image: url(pelikuvat/keltainentausta.png);
    background-size: 100% 100%;
}

.tippuvat {
    position: absolute;
    animation: float 22s linear infinite;
    opacity: 0;
  
  
}


  @keyframes float {
    0% {
        top: 0px;
        opacity: 0;
        visibility: hidden;
        transform: rotate(0deg);
      }
      50% {
        opacity: 0.7;
        visibility: visible;
      }
      100% {
        top: 70%;
        opacity: 0;
       
        transform: rotate(360deg);
      }
    }




    .tippuvat:nth-child(1) {
        animation-delay: 0s;
     
    }
    
    .tippuvat:nth-child(2) {
        
        animation-delay: 0s;
        right: 10%;
    }
    
    .tippuvat:nth-child(3) {
        animation-delay: 6s;
        left: 10%;
    }
    
    .tippuvat:nth-child(4) {
        animation: float 12s linear infinite;
        animation-delay: 9s;
        right: 60%;
    }
    
    .tippuvat:nth-child(5) {
        animation-delay: 12s;
    }
    
    .tippuvat:nth-child(6) {
        animation-delay: 15s;
        right: 10%;
    }
  
    .pelikone-container {
        position: relative;
        width: 40%;
        margin: 20px auto;
        border: 5px solid rgba(0, 0, 0, 0.55);
        border-radius: 5px;
        height: 60vh;
        background-image: url(pelikuvat/uusilippu.png);
        background-size: 100% 100%;
        background-position: center;
        margin-top: 50px;
       
    }
    .pelikehys{
        position:relative;
        width: 100%;
        height: 100%;
       
    }

    .peliohjeet{
        position:absolute;
        width: 70%;
        height: auto;
        max-height: 100%;
        box-sizing: border-box;
        margin: 0 auto;
        border-radius: 2px;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.732);
        backdrop-filter: blur(4px);
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 997;
        top: 0;
        overflow-y: auto;
       
    }

    #peliohjeet::-webkit-scrollbar {
        display: none; 
    }

    .kuvasailio{
        display: flex;
        flex-direction:column;
        max-height: 100%;
    }

    .kuvat{
        margin: 0 auto;
        width: 50%;
        margin-bottom: 20px;
        margin-top: 40px;
      
    }

    .back{
        width: 10%;
        margin: 50px auto;
    }

    .ohjeet{
        position: absolute;
        width: 30px;
        height: 50px;
        left: 15px;
        top: 5px;
        background-image: url(pelikuvat/dollar.png);
        background-size: 100% 100%;

    }

    .taustamusa{
        position: absolute;
        width: 30px;
        height: 30px;
        right: 15px;
        top: 8px;
        background-image: url(pelikuvat/music.png);
        background-size: 100% 100%;

    }

    .peli-otsikko{
        margin: 0 auto;
        position:relative;
        width: 50%;
        top: -12%;  
    }
   
  
    .rulla-container {
        position: relative;
        display: flex;
        gap: 15px;
        justify-content: space-between;
        width: 50%;
        height: 20%;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 20%;
        
    
    }

    .rulla{
        position: relative;
        background-image: url(pelikuvat/rullakehys2.png);
        background-size: 100% 100%;
        height: 60%;
        border-left: 4px solid rgb(207, 207, 207);
        border-top-left-radius: 4px;
        border-right:4px solid rgb(0, 21, 0);
        border-top-right-radius: 4px;
        border-top:5px solid rgba(1, 53, 1, 0.461);
        border: none;
        top: 0;
        overflow: hidden;
        flex: 1;
        box-shadow: inset 0px 10px 10px -5px rgba(0, 0, 0, 0.4);
       
    }


    
    .rulla-symboli {
    
        width: 60%;
        height: 50%;
        position:relative;
        margin: 0px auto;
        top: 10px;
        animation: liukuuAlas 300ms ease-in forwards;
        
     
    }

    @keyframes liukuuAlas {
        0% {
            transform: translateY(-60px);
        }
       
        
        100% {
            transform: translateY(120px);
         
        }
    }
    
    
    .rulla-symboli2 {
        width: 60%;
        height: 50%;
        position:relative;
        margin: 0px auto;
        top: 35%;
        animation: liukuuAlas2 700ms ease-in forwards;
     
    }


    @keyframes liukuuAlas2 {
        from {
            transform: translateY(-200%);
            opacity: 1;
        }
        to {
            transform: translateY(0px);
            opacity: 1;
        }
    }

    .liukuu2{
        animation: liukuuAlas 500ms ease-in forwards;
    }


    .lukitse{
        position: relative;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        flex: 1;
        background-image: url(pelikuvat/hold3.png);
        background-position: center;
        background-size: 100% 100%;
        border: none;
        
       
    }

    .lukitse-napit{
        top: 60%;
        position: absolute;
        display: flex;
        gap: 15px;
        justify-content: space-between;
        width:100%;
        height: 25px;
    
    }

   

   
    .peli-painikkeet{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 10%;
        width: 100%;
        
        
    }

    .peli-painike {
        display: inline-block;
        margin-right: 10px;
       
      
    }
   

    .panoslukittu {
        pointer-events: none;
        opacity: 0.1;
    }
   

    #pelaa-painike{

        background-size: 100% 100%;
        background-image: url(pelikuvat/play5.png);
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.7;
        width: 100px;
        padding-top: 100px;
        border: none;
     
   
    }
    #pelaa-painike:hover{
        transform: scale(0.95);
        transition: transform 0.2s ease;  
    }

    #panosAlas-painike{
       
     
       
        background-color: transparent;
        background-image: url(pelikuvat/betdown2.png);
        background-size: 100% 100%;
        opacity: 0.7;
        width: 40px;
        height: 40px;
        border: none;
        margin-bottom: 25px;
      
      
    }
    #panosAlas-painike:hover{
        transform: scale(0.95);
        transition: transform 0.2s ease;
    }

    #panosYlos-painike{
    
      
    
        background-color: transparent;
        background-image: url(pelikuvat/betup2.png);
        background-size: 100% 100%;
        opacity: 0.7;
        width: 40px;
        height: 40px;
        border: none;
        margin-bottom: 25px;
        
      
    }
    #panosYlos-painike:hover{
        transform: scale(0.95);
        transition: transform 0.2s ease;
    }


    #pelitiedot{
        position: absolute;
        width: 100%;
        max-width: 100%;
        background-color: rgba(0, 0, 0, 0.571);
        height: 40px;
        bottom: 0%;
    }

    .peli-ilmoitus{
        position: absolute;
        width: 100%;
        top: 20%;
        height: 50px;
        margin: 0 auto;
        font-family: inherit;
        font-weight: bold;
   
    }
    @keyframes laajeneva {
        0% {
            width: 0;
        }
        100% {
            width: 70%;
        }
    }



    .iso-voitto{
        position: absolute;
        width: 70%;
        top: 7%;
        height: 100px;
        margin: 0 auto;
        left: 0;
        right: 0;
        color: white;
        font-family: inherit;
        font-weight: bold;
        animation: laajeneva 2s ease-out forwards;
        z-index: 500;

    }

   

  
    #saldo{
        position:absolute;
        font-weight: bold;
        font-size: 13px;
        left: 1%;
        bottom: 0;
        color: whitesmoke;
    }

    #panos{
        position:absolute;
        font-weight: bold;
        font-size: 13px;
        left: 48%;
        bottom: 0;
        color: whitesmoke;
    }

    #voitto{
        position:absolute;
        font-size: 13px;
        font-weight: bold;
        right: 1%;
        bottom: 0;
        color: whitesmoke;
    }

    .modaali {
        display: none;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        max-width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .modaali-sisalto {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 2px solid black;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(4px);
        width: 100%;
        height: 100%;
        color: white;
        font-family: inherit;
        font-size: large;
        font-weight: bold;
    }
    
    .sulje {
        color: #aaa;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        font-size: 28px;
        font-weight: bold;
    }
    
    .sulje:hover,
    .sulje:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }


    @keyframes vilkutus {
        0%, 100% {
          opacity: 1;
        }
        50% {
          opacity: 0.1;
        }
      }
      
      .vilkku {
        animation: vilkutus 1000ms linear infinite;
        width: 60%;
        height: 50%;
        position:relative;
        margin: 0px auto;
        top: 35%;
      }
  


    @media only screen and (min-width: 1101px) and (max-width:1300px){
        .pelikone-container{
            height: 80vh;
            width: 50%;
    
        }
        .peli-otsikko{
            position: relative;
            width: 50%;
            height: 100px;
            top: -40px;
        }

        .rulla-container {
            position: absolute;
            width: 80%;
            height: 30%;
            top: 30%;
         
        }

    }
 

    
        @media only screen and (min-width: 801px) and (max-width:1100px) {
   
            .peli-otsikko{
                position: relative;
                width: 50%;
                height: 100px;
                top: -40px;
            }
        
            .pelikone-container{
                height: 90vh;
                width: 70%;
        
            }

            .rulla-container {
                position: absolute;
                width: 80%;
                height: 30%;
                top: 15%;
              
             
              
            
            }

            .peli-painikkeet{
             
                bottom: 40px;
             
            }

            
   
        
            #saldo{
                position:absolute;
              
                font-weight: bold;
                left: 1%;
                color:white;
               
            }
        
            #panos{
                position:absolute;
              
                font-weight: bold;
                left: 44%;
                color:white;
              
            }
        
            #voitto{
                position:absolute;

                font-weight: bold;
                right: 1%;
                color:white;
             
            }

            .kuvat{
                margin: 0 auto;
                width: 30%;
              
            }

            
    
     
       
        }

        @media only screen and (min-width: 500px) and (max-width:800px) {
   
            .tippuvat {
                width: 20%;
            }
            .pelikone-container{
                height: 90vh;
                width: 60%;
            
            }

            .rulla-container {
                position: absolute;
                width: 90%;
                height: 20%;
                top: 30%;
                left: 0;
                right: 0;
            
            
            }

            .rulla{
                height: 60%;
            }
    
    
            .peli-otsikko{
                position: relative;
                width: 60%;
                height: 100px;
                top: -40px;
               
            }

            .iso-voitto{
                top:15%;
            }
           
            .rulla-symboli{
                width: 50%;
                height: 50%;
    
            }

            .rulla-symboli2{
                width: 50%;
                height: 50%;
    
            }

            .peli-painikkeet{
             
                bottom: 50px;
             
            }

         
        
            #saldo{
                position:absolute;
                font-weight: bold;
                left: 1%;
                color:white;
               
            }
        
            #panos{
                position:absolute;
            
                font-weight: bold;
                left: 44%;
                color:white;
              
            }
        
            #voitto{
                position:absolute;
          
                font-weight: bold;
                right: 1%;
                color:white;
             
            }
          

            .peliohjeet{
                width: 100%;
                background-color: rgba(0, 0, 0, 0.9);
                
            }

            .kuvat{
                width: 40%;
            }

           



        }

        @media only screen and (min-width: 100px) and (max-width:499px) {
   
            .tippuvat {
                width: 15%;
            }
            .pelikone-container{
                height: 70vh;
                width: 90%;
            
            }

            .rulla-container {
                position: absolute;
                width: 90%;
                left: 0;
                right: 0;
                top: 40%;
                height: 22%;
                gap: 10px;
             
            }

            .rulla{
              
                height: 60%;
                
            }
            .lukitse-napit{
               
                gap: 10px;
            }
        
            
           
            
    
            .peli-otsikko{
            position: relative;
            width: 60%;
            height: 100px;
            top: -50px;
           
            }

            .iso-voitto{
            top:15%;
            }
       
           
            .rulla-symboli{
                width: 60%;
                height: 40%;
                

          
            }
            .rulla-symboli2{
                width: 60%;
                height: 40%;
              
                
                
            }

            .peli-painikkeet{
             
                bottom: 50px;
             
            }

   
            #saldo{
                position:absolute;
            
                font-weight: bold;
                left: 0;
                color:white;
               
            }
        
            #panos{
                position:absolute;
           
                font-weight: bold;
                left: 44%;
                color:white;
              
            }
        
            #voitto{
                position:absolute;
          
                font-weight: bold;
                right: 0;
                color:white;
             
            }

          
            .peliohjeet{
                width: 100%;
                background-color: rgba(0, 0, 0, 0.9);
            }

            .kuvat{
                width: 40%;
            }



        }

       
       
        
        