



.tippuvat {
    position: absolute;
    animation: float 22s linear infinite;
    opacity: 0;
  
  
}


  @keyframes float {
    0% {
        top: 0px;
        opacity: 0;
        visibility: hidden;
        transform: rotate(0deg);
      }
      50% {
        opacity: 0.7;
        visibility: visible;
      }
      100% {
        top: 70%;
        opacity: 0;
       
        transform: rotate(360deg);
      }
    }




    .tippuvat:nth-child(1) {
        animation-delay: 0s;
     
    }
    
    .tippuvat:nth-child(2) {
        
        animation-delay: 0s;
        right: 10%;
    }
    
    .tippuvat:nth-child(3) {
        animation-delay: 6s;
        left: 10%;
    }
    
    .tippuvat:nth-child(4) {
        animation: float 12s linear infinite;
        animation-delay: 9s;
        right: 60%;
    }
    
    .tippuvat:nth-child(5) {
        animation-delay: 12s;
    }
    
    .tippuvat:nth-child(6) {
        animation-delay: 15s;
        right: 10%;
    }
  
    .pelikone-container {
        position: relative;
        width: 60%;
        margin: 20px auto;
        border: 2px solid black;
        height: 80vh;
        background-image: url(pelikuvat/omalippu.png);
        background-size: 100% 100%;
        background-position: center;
        margin-top: 70px;
    }

    .peli-otsikko{
        position:relative;
        width: 50%;
        top: -12%;
       
    }
   
    

  
    .rulla-container {
        position: relative;
        display: flex;
        gap: 10px;
        justify-content: space-between;
        width: 60%;
        height: 30%;
        margin: 0 auto;
    }

    .rulla{
        position: relative;
        background-color: rgb(243, 245, 245, 0.8);
       
        height: 100%;
        border: 2px solid black;
        border-radius: 4px;
        top: 0;
        overflow: hidden;
        flex: 1;
        
   
    }



 

    .rulla-symboli {
    
        width: 80%;
        height: auto;
        position:relative;
        margin: 0px auto;
      
        top: 50%;
        transform: translateY(-50%);
     
    }


   


   

    .peli-painike {
        
        float: left;
    }


    

    
    

   


    #pelaa-painike{
       
        
        position: absolute;
        background-size: 100% 100%;
        background-image: url(pelikuvat/play4.png);
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.7;
        bottom: 13%;
        width: 13%;
        padding-top: 13%;
        border: none;
        left: 40%;
       
        
    }
    #pelaa-painike:hover{
        transform: scale(0.95);
        transition: transform 0.2s ease;  
    }

    #panosAlas-painike{
       
     
        position: absolute;
        background-color: transparent;
        background-image: url(pelikuvat/betdown.png);
        background-size: 100% 100%;
        opacity: 0.7;
        bottom: 20%;
        left: 30%;
        width: 40px;
        height: 40px;
        border: none;
      
    }
    #panosAlas-painike:hover{
        transform: scale(0.95);
        transition: transform 0.2s ease;
    }

    #panosYlos-painike{
    
      
        position: absolute;
        background-color: transparent;
        background-image: url(pelikuvat/betup.png);
        background-size: 100% 100%;
        opacity: 0.7;
        bottom: 20%;
        right: 35%;
        width: 40px;
        height: 40px;
        border: none;
        
      
    }
    #panosYlos-painike:hover{
        transform: scale(0.95);
        transition: transform 0.2s ease;
    }


    #pelitiedot{
        position: absolute;
        width: 100%;
        max-width: 100%;
        background-color: rgba(0, 0, 0, 0.571);
        height: 10%;
        bottom: 0%;
    }

    .peli-ilmoitus{
        position: absolute;
        width: 100%;
        top: 18%;
        height: 50px;
        margin: 0 auto;
        color: white;
        font-family: inherit;
        font-weight: bold;
   
        
    }


    .iso-voitto{
        position: absolute;
        width: 60%;
        top: 14%;
        height: 50px;
        margin: 0 auto;
        color: white;
        font-family: inherit;
        font-weight: bold;
        animation: laajeneva 700ms ease-out forwards;
      

    }

    @keyframes laajeneva {
        from {
            transform: scaleX(0);
        }
        to {
            transform: scaleX(1);
        }
    }

  
    #saldo{
        position:absolute;
        font-size: x-large;
        font-weight: bold;
        left: 1%;
        bottom: 0;
        color: whitesmoke;
    }

    #panos{
        position:absolute;
        font-size: x-large;
        font-weight: bold;
        left: 44%;
        bottom: 0;
        color: whitesmoke;
    }

    #voitto{
        position:absolute;
        font-size: x-large;
        font-weight: bold;font-weight: bold;
        left: 84%;
        bottom: 0;
        color: whitesmoke;
    }



 

    @media only screen and (max-width: 2000px) {
       
        .tippuvat {
            width: 10%;
        }
        .pelikone-container{
            height: 80vh;
            width: 50%;
        
        }

        .peli-otsikko{
        position: relative;
        width: 60%;
    
    }
      
        .rulla-symboli{
            width: 80%;
            height: auto;

        }

        #pelaa-painike{

            width: 15%;
            padding-top: 15%;
            border: none;
            left: 40%;  
        }

       

        @media only screen and (max-width: 1500px) {
   
            .tippuvat {
                width: 10%;
            }
            .pelikone-container{
                height: 80vh;
                width: 50%;
            
            }
    
            .peli-otsikko{
            position: relative;
            width: 60%;
            height: 20vh;
           
           
        }
           
            .rulla-symboli{
                width: 70%;
                height: auto;
    
            }

        
        
        
            #saldo{
                position:absolute;
                font-size:medium;
                font-weight: bold;
                left: 1%;
                color:white;
               
            }
        
            #panos{
                position:absolute;
                font-size: medium;
                font-weight: bold;
                left: 44%;
                color:white;
               
            }
        
            #voitto{
                position:absolute;
                font-size: medium;
                font-weight: bold;font-weight: bold;
                right: 1%;
                color:white;
               
            }

            #pelaa-painike{

                width: 15%;
                padding-top: 15%;
                border: none;
                left: 40%;  
            }
    

        }
        @media only screen and (min-width: 801px) and (max-width:1100px) {
   
        
            .pelikone-container{
                height: 60vh;
                width: 90%;
            
            }

            #panosAlas-painike{
       
     
                opacity: 0.7;
                bottom: 20%;
                left: 25%;
                width: 40px;
                height: 40px;
                border: none;
              
            }
           
        
            #panosYlos-painike{
            
              
            
                bottom: 20%;
                right: 25%;
                width: 40px;
                height: 40px;
                border: none;
              
            }

   
        
            #saldo{
                position:absolute;
                font-size:medium;
                font-weight: bold;
                left: 1%;
                color:white;
               
            }
            #pelaa-painike{

                width: 10%;
                padding-top: 10%;
                border: none;
                left: 40%;  
            }

            
    
     
       
        }

        @media only screen and (min-width: 500px) and (max-width:800px) {
   
            .tippuvat {
                width: 20%;
            }
            .pelikone-container{
                height: 70vh;
                width: 90%;
            
            }

            .rulla-container {
             
                width: 80%;
                height: 30%;
            
            }

            .rulla{
                height: 80%;
            }
    
    
            .peli-otsikko{
            position: relative;
            width: 80%;
            height: 20vh;
            top: -12%;
           
        }
           
            .rulla-symboli{
                width: 60%;
                height: auto;
    
            }

           

            #panosAlas-painike{
       
     
                position: absolute;
                background-color: transparent;
                background-image: url(pelikuvat/betdown.png);
                background-size: 100% 100%;
                opacity: 0.7;
                bottom: 20%;
                left: 25%;
                width: 40px;
                height: 40px;
                border: none;
              
            }
           
        
            #panosYlos-painike{
            
              
                position: absolute;
                background-color: transparent;
                background-image: url(pelikuvat/betup.png);
                background-size: 100% 100%;
                opacity: 0.7;
                bottom: 20%;
                right: 25%;
                width: 40px;
                height: 40px;
                border: none;
              
            }

            #pelitiedot{
              
                height: 10%;
                bottom: 0%;
            }

           
        
        
         
            
        
            #saldo{
                position:absolute;
                font-size:medium;
                font-weight: bold;
                left: 1%;
                color:white;
               
            }
        
            #panos{
                position:absolute;
                font-size: medium;
                font-weight: bold;
                left: 44%;
                color:white;
              
            }
        
            #voitto{
                position:absolute;
                font-size: medium;
                font-weight: bold;
                right: 1%;
                color:white;
             
            }

            #pelaa-painike{

                width: 20%;
                padding-top: 20%;
                border: none;
                left: 40%;
                bottom: 17%;
            }
    

        }

        @media only screen and (min-width: 100px) and (max-width:499px) {
   
            .tippuvat {
                width: 20%;
            }
            .pelikone-container{
                height: 70vh;
                width: 90%;
            
            }

            .rulla-container {
             
                width: 80%;
                height: 30%;
            
            }

            .rulla{
                height: 80%;
            }
    
            .peli-otsikko{
            position: relative;
            width: 80%;
            height: 20vh;
            top: -12%;
           
        }
           
            .rulla-symboli{
                width: 70%;
                height: auto;
    
            }

      

            #panosAlas-painike{
       
     
              
                bottom: 20%;
                left: 20%;
                width: 40px;
                height: 40px;
                border: none;
              
              
            }
           
        
            #panosYlos-painike{
            
              
                bottom: 20%;
                right: 20%;
                width: 40px;
                height: 40px;
                border: none;
                margin-left: 100px;
             
              
            }

            #pelitiedot{
              
                height: 10%;
                bottom: 0%;
            }

           
        
        
         
            
        
            #saldo{
                position:absolute;
                font-size:medium;
                font-weight: bold;
                left: 1%;
                color:white;
               
            }
        
            #panos{
                position:absolute;
                font-size: medium;
                font-weight: bold;
                left: 44%;
                color:white;
              
            }
        
            #voitto{
                position:absolute;
                font-size: medium;
                font-weight: bold;
                right: 1%;
                color:white;
             
            }

            #pelaa-painike{

                width: 25%;
                padding-top: 25%;
                border: none;
                left: 37%;
                bottom: 17%;
            }

          

        }

       
       
        
        }