#puhelin {
    position: relative;
    width: 100%;
    height: 450px;
    background-image: url("images/13.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    flex: 1;
}


#valitse{
    position:absolute;
    display: block;
    top: 70px;
    margin: 0 auto;
    background-color:gainsboro;
    width: 160px;
    max-width: 100%;
    padding: 2px;
    font-size: 13px;
    border: 1px solid #a3a2a2;
    border-radius: 7px;
    font-family: inherit;
    font-weight: bold;

}

#teksti{
    font-size: medium;
    position: absolute;
    top: 20px;
    font-weight: bold;

}

.tasaus{
    text-align: start;
    font-size: medium;
    position: absolute;
    top: 120px;
    font-weight: bold;
}

#annetutAsteet{
    position:absolute;
    display:block;
    top: 200px;
    text-align: center;
    font-size: medium;
}


#asteet{

    position:absolute;
    display:block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    width: 100px;
    max-width: 100%;
    padding: 5px;
    font-size: 13px;
    border: 1px solid #a3a2a2;
    border-radius: 10px;
    font-family: inherit;
    font-weight: bold;
}

.muunna{
   
    display:block;
    top: 240px;
    margin: 10px auto;
    background-color:gainsboro;
    width: 80px;
    max-width: 100%;
    padding: 5px;
    font-size: 13px;
    border: 1px solid #a3a2a2;
    border-radius: 7px;
    font-family: inherit;
    font-weight: bold;


}

#tulos {
    position: absolute;
  
    top: 300px;
    max-width: 100%;
    text-align: center;
    font-size: xx-large;
    color: azure;
}

